body {
  font-family: "SUSE", sans-serif;
  background-image: url("./background2.jpg");
  background-size: 400px;
}
.calculator {
  width: 80%; 
  height: auto;
  max-width: 500px; 
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #e6e9ee;
  display: block;
}
.unit-conversor {
  width: 80%; 
  max-width: 500px; 
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #e6e9ee;
  display: none;
}
.coin-conversor {
  width: 80%; 
  max-width: 500px; 
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #e6e9ee;
  display: none;
}
.icons {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #e6e9ee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
#icon_calc {
  width: 70px;
  transition: transform 0.3s ease;
  border: 3px solid #000000;
  border-radius: 50px;
}
#icon_unit {
    width: 70px;
    transition: transform 0.3s ease;
    border: 0px solid #000000;
    border-radius: 50px;
}
#icon_coin {
  width: 70px;
  transition: transform 0.3s ease;
  border: 0px solid #000000;
  border-radius: 50px;
}
#icon_calc:hover, #icon_unit:hover, #icon_coin:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
.hidden-text-unit {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: #e6e9ee;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  transition: visibility 0s, opacity 0.3s ease;
  white-space: nowrap;
}
  #icon_unit:hover + .hidden-text-unit{
    visibility: visible;
    opacity: 1;
  }
  .hidden-text-calc {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -30px;
    left: 18%;
    transform: translateX(-50%);
    background-color: black;
    color: #e6e9ee;
    padding: 5px;
    border-radius: 5px;
    z-index: 1; /* Ensures it's above other content */
    transition: visibility 0s, opacity 0.3s ease;
    white-space: nowrap;
  }
  #icon_calc:hover + .hidden-text-calc{
    visibility: visible;
    opacity: 1;
  }
  .hidden-text-coin {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -30px;
    left: 80%;
    transform: translateX(-50%);
    background-color: black;
    color: #e6e9ee;
    padding: 5px;
    border-radius: 5px;
    z-index: 1; /* Ensures it's above other content */
    transition: visibility 0s, opacity 0.3s ease;
    white-space: nowrap;
  }
  #icon_coin:hover + .hidden-text-coin{
    visibility: visible;
    opacity: 1;
  }
.form{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
label{
font-size: 20px;
color: #324a5e;
font-weight: bold;
}
select{
  width: 291px;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
  background-color: white;
  color: #324a5e;
  font-weight: bold;
  font-style:italic;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

select:focus {
  outline: none;
  border-color: #4cdbc4; /* Highlight color */
  box-shadow: 0 0 8px rgba(106, 130, 251, 0.5); /* Soft shadow */
  background-color: white;
} 

select::placeholder {
  color: #324a5e; /* Placeholder color */
  font-style: italic;
}

select:hover {
  border-color: #4cdbc4; /* Hover effect */
}
input {
  width: 291px;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
  background-color: white;
  color: #324a5e;
  font-weight: bold;
  font-style:italic;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
  border-color: #4cdbc4; /* Highlight color */
  box-shadow: 0 0 8px rgba(106, 130, 251, 0.5); /* Soft shadow */
  background-color: white;
}

input::placeholder {
  color: #324a5e; /* Placeholder color */
  font-style:italic;
  font-weight: bold;
}

input:hover {
  border-color: #4cdbc4; /* Hover effect */
}
button {
  width: 291px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); /* Slight lift effect */
}

button:active {
  background-color: #3e8e41;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slightly reduced shadow on click */
}
.result {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  color: #324a5e;
  font-weight: bold;
}
.headercontainer{
display: grid;
grid-template-columns: 170px 1fr;
justify-content: center;
align-items: center;
margin-bottom: 10px;
height: 200px;
width: 100%;
}
#logo{
  width: 170px;
  margin-right: 10px;
}
h2{
  font-size: 40px;
  text-align: center;
  color: #324a5e;
}