<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora ETEP</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="calculator">
    <div class="headercontainer">
    <img id="etep" src="../static/etep.png" alt="">
    <h2>CALCULADORA</h2>
    </div>
    <div class="form">
        <input type="text" id="number_1" placeholder="Entre seu 1º número">
        <input type="text" id="operation" placeholder="Entre o operador (+, -, *, /)">
        <input type="text" id="number_2" placeholder="Entre seu 2º número">
        <button onclick="performCalculation()">Calcular</button>
    </div>
        <p class="result" id="result"></p>        
    </div>
    <script src="/static/script.js"></script>
</body>
</html>