<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora ETEP</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="icons">
        <img id="icon_calc" src="../static/icon_calc.png" alt="">
        <div class="hidden-text-calc">Selecionar Calculadora</div>
        <img id="icon_unit" src="../static/icon_unit.png" alt="Unit Converter Icon">
        <div class="hidden-text-unit">Selecionar conversor de unidade de medida</div>
        <img id="icon_coin" src="../static/icon_coin.png" alt="Coin Converter Icon">
        <div class="hidden-text-coin">Selecionar conversor moedas</div>
    </div>
    <div class="calculator" id="calculator">
    <div class="headercontainer">
    <img id="logo" src="../static/icon_calc.png" alt="">
    <h2>CALCULADORA</h2>
    </div>
    <div class="form">
        <input type="number" id="number_1" placeholder="Entre seu 1º número">
        <label for="operation">Selecione o tipo de cálculo</label>
        <select id="operation" name="operation" placeholder="Entre o operador (+, -, *, /)">
            <option value="+">Adição</option>
            <option value="-">Subtração</option>
            <option value="*">Multiplicação</option>
            <option value="/">Divisão</option>
        </select>
        <input type="number" id="number_2" placeholder="Entre seu 2º número">
        <button onclick="performCalculation()">Calcular</button>
    </div>
    <p class="result" id="result"></p>
    </div>
    </div>
    <div class="unit-conversor" id="unit-conversor">
<div class="headercontainer">
<img id="logo" src="../static/icon_unit.png" alt="">
<h2>CONVERSOR DE UNIDADE DE MEDIDA</h2>
</div>
<div class="form">
    <label for="conversionType">Selecione o tipo de unidade que deseja converter</label>
    <select id="conversionType" name="conversionType" placeholder="Entre a unidade de medida">
        <option value="peso">Peso</option>
        <option value="distancia">Distância</option>
        <option value="velocidade">Velocidade</option>
        <option value="area">Área</option>
        <option value="volume">Volume</option>
        <option value="temperatura">Temperatura</option>
    </select>
    <label for="unit1">Selecione a unidade de medida de entrada</label>
    <select id="unit1" name="unit1" placeholder="Entre a unidade de medida">
        <option value="g">g (grama)</option>
        <option value="kg">kg (kilograma)</option>
        <option value="ton">ton (tonelada)</option>
        <option value="lbs">lbs (Libras)</option>
        <option value="oz">oz (Onças)</option>
    </select>
    <label for="unit1">Selecione o valor inicial da unidade de medida</label>
    <input type="number" id="unitvalue_1" placeholder="Valor inicial">
    <label for="unit2">Selecione a unidade de medida de saída</label>
    <select id="unit2" name="unit2" placeholder="Entre a unidade de medida">
        <option value="g">g (grama)</option>
        <option value="kg">kg (kilograma)</option>
        <option value="ton">ton (tonelada)</option>
        <option value="lbs">lbs (Libras)</option>
        <option value="oz">oz (Onças)</option>
    </select>    
    <button onclick="UnitConversion()">Converter</button>
</div>
<p class="result" id="unitResult"></p>
    </div>
    </div>
    <div class="coin-conversor" id="coin-conversor">
<div class="headercontainer">
<img id="logo" src="../static/icon_coin.png" alt="">
<h2>CONVERSOR DE MOEDAS</h2>
</div>
<div class="form">
<label for="coin1">Selecione a moeda de entrada</label>
<select id="coin1" name="coin1">
    <option value="BRL">R$ (Real Brasileiro)</option>
    <option value="USD">U$D (Dolar Americano)</option>
    <option value="€">€ (Euro)</option>
    <option value="£">£ (Libra esterlina)</option>
    <option value="¥">¥ (Iene Japonês)</option>
    <option value="BTC">BTC (BitCoin)</option>
</select>
<input type="coinvalue_1" id="coinvalue_1" placeholder="Valor da moeda de entrada">
<label for="coin2">Selecione a moeda de saída</label>
<select id="coin2" name="coin2">
    <option value="BRL">R$ (Real Brasileiro)</option>
    <option value="USD">U$D (Dolar Americano)</option>
    <option value="€">€ (Euro)</option>
    <option value="£">£ (Libra esterlina)</option>
    <option value="¥">¥ (Iene Japonês)</option>
    <option value="BTC">BTC (BitCoin)</option>
</select>
<button onclick="coinConvertion()">Converter</button>
</div>
<p class="result" id="coinResult"></p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>