<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora ETEP</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="icons">
        <img id="icon_calc" src="../static/icon_calc.png" alt="">
        <div class="hidden-text-calc">Selecionar Calculadora</div>
        <img id="icon_unit" src="../static/icon_unit.png" alt="Unit Converter Icon">
        <div class="hidden-text-unit">Selecionar conversor de unidade de medida</div>
        <img id="icon_coin" src="../static/icon_coin.png" alt="Coin Converter Icon">
        <div class="hidden-text-coin">Selecionar conversor moedas</div>
    </div>
    <div class="calculator">
    <div class="headercontainer">
    <img id="logo" src="../static/icon_calc.png" alt="">
    <h2>CALCULADORA</h2>
    </div>
    <div class="form">
        <input type="number" id="number_1" placeholder="Entre seu 1º número">
        <label for="operation">Selecione o tipo de cálculo</label>
        <select id="operation" name="operation" placeholder="Entre o operador (+, -, *, /)">
            <option value="+">Adição</option>
            <option value="-">Subtração</option>
            <option value="*">Multiplicação</option>
            <option value="/">Divisão</option>
        </select>
        <input type="number" id="number_2" placeholder="Entre seu 2º número">
        <button onclick="performCalculation()">Calcular</button>
    </div>
    <p class="result" id="result"></p>        
</div>
    <script src="/static/script.js"></script>
</body>
</html>