.calculator{
    color: white;
    text-align: center;
    font-family: cursive;
    padding: 20px;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    text-shadow: 
      1px 1px 0 #000, /* Sombra à direita e abaixo */
      -1px -1px 0 #000, /* Sombra à esquerda e acima */
      1px -1px 0 #000, /* Sombra à direita e acima */
      -1px 1px 0 #000;
    
    @font-face {
      font-family: 'JJK';
      src: url('../../assets/font/JJK.ttf') format('woff2');
      font-weight: normal;
  }
}